
<div id="page-content-wrapper">
    <div class="page-content">
  
      <div class="table-header">
        <div class="row">
          <div class="col-md-4 col-sm-3">
            <h3>{{title}}</h3>
          </div>
        </div>
      </div>
  
      <table class="inlineTable">
        <div class="form-group">
          <div class="row">
            <div class="col-md-12">
              <table class="table table-bordered text-center">
                <tr>
                  <th></th><th></th>
                  <th> 2W </th>
                  <th> 4W </th>
                </tr>
                <tr>
                    <th rowspan="3">Boom Barrier Count</th>
                    <th>Entry</th>
                    <td>128</td>
                    <td>336</td>
                </tr>
                <tr>
                    <th>Exit</th>
                    <td>144</td>
                    <td>330</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>582</td>
                    <td>996</td>
                </tr>

                <tr>
                    <th rowspan="3">LED Count</th>
                    <th>Entry</th>
                    <td>100</td>
                    <td>236</td>
                </tr>
                <tr>
                    <th>Exit</th>
                    <td>58</td>
                    <td>100</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>158</td>
                    <td>336</td>
                </tr>

                <tr>
                    <th rowspan="3">ANPR Count</th>
                    <th>Entry</th>
                    <td>95</td>
                    <td>55</td>
                </tr>
                <tr>
                    <th>Exit</th>
                    <td>95</td>
                    <td>75</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>190</td>
                    <td>120</td>
                </tr>

                <tr>
                    <th rowspan="3">PMS Count</th>
                    <th>Entry</th>
                    <td>221</td>
                    <td>112</td>
                </tr>
                <tr>
                    <th>Exit</th>
                    <td>221</td>
                    <td>112</td>
                </tr>
                <tr>
                    <th>Total</th>
                    <td>442</td>
                    <td>224</td>
                </tr>


            
              
                <!-- <tr>
                    <th colspan="4"> 4W </th>
                  </tr>
                  <tr>
                      <th rowspan=" 3 ">BBC</th>
                      <th>Entry</th>
                      <th>Exit</th>
                      <th>Total</th>
                  </tr>
                  <tr>
                      <th rowspan="3">LED</th>
                      <th>Entry</th>
                      <th>Exit</th>
                      <th>Total</th>
                  </tr>
                  <tr>
                      <th rowspan="3">ANPR</th>
                      <th>Entry</th>
                      <th>Exit</th>
                      <th>Total</th>
                  </tr>
                  <tr>
                      <th rowspan="3">PMS</th>
                      <th>Tickets</th>
                      <th>Receipts</th>
                      <th>Total</th>
                  </tr> -->
              </table>
            </div>
          </div>
        </div>
      </table>
    </div>
  </div>